extends layout

block content
  div(class="wrapper-menu")
    a(href="/", class="home")
      img(src="../icons/home-not.png", alt="home", class="main-menu-ico")
    div(id="login-btn", class="login")
      img(src="../icons/main-logo.png", class="main-menu-ico")
    div(id="search-btn", class="search")
      input(type="search", id="search-field", class="search-field", tabindex="1", placeholder="search", title="Hold down 'Shift' to search by author")
      img(src="../icons/search.png", id="search-ico", alt="search", class="main-menu-ico")
    div(id="search-result", class="search-result", style="display: none;")
  script(type="text/javascript", async="true", src="/javascripts/main-menu.js")
  div(class="wrapper-user")
    a(href="/", class="user-name")
      div
        b
      div
    div(class="user-photo")
      img(src="../images/no-photo.png" alt="photo", class='user-photo')
    div(class="wrapper-3d")
      div(id="user-info", class="user-info")
        p
          b Birthday:
        p
          b Place of birth:
        p
          b Country living:
        p
          b Biography:
          br
    div(id="songs", class="user-track-list")
  script(type="text/javascript", src="/javascripts/user-info.js")
  div(id="guitar", class="wrapper-guitar", tabindex="0")
    canvas(id="guitar-canvas", class="guitar-canvas")
    canvas(id="strings-canvas", class="strings-canvas")
    canvas(id="info-canvas", class="info-canvas")
  script(type="text/javascript", async=true, src="/javascripts/guitar.js")
  script(type="text/javascript", async=true, src="/javascripts/guitar-behavior.js")
  div(id="notes-block", class="wrapper-notes")
    div(class="hat")
      div(class="play-menu")
        i(id="add-btn", class="large material-icons") add_circle
        i(id="play-btn", class="large material-icons") play_circle_filled
        i(id="stop-btn", class="large material-icons") replay
      div(class="song-title")
        b artist
        b song
        strong name
      div(class="action-menu")
        i(class="large material-icons") help
        i(class="large material-icons") fullscreen
    div(class="bar")
      div(id="speed", class="speed", contenteditable=true) 60
      div(id="numerator", class="numerator", contenteditable=true) 2
      div(id="denominator", class="denominator", contenteditable=true) 2
    div(id="info-notes", class="info-notes")
      div(id="plus-btn", class="plus-btn")
      div(id="have-saved", class="saved-info" style="display:none;")
    div(id="input-field" class="input-field" style="display:none;")
      input(type="text", id="input-area", class="input-area", placeholder="-", pattern="-|[0-9]{0,1}|1[0-9]|20")
  script(type='text/javascript', src='/javascripts/music-workspace.js')
  script(type='text/javascript', defer=true, src='/javascripts/song-workspace.js')
  block scripts
